@use "common/base";

.user-account{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 50px;

    padding: 30px;
    border: 2px solid black;
    margin: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

    width: 700px;

    &__info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__text{
            color: base.$text-color;
            padding-bottom: 20px;

            font-size: large;
        }
    }

    &__image{
        
        width: 150px;
    }
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 768px) {
  .user-account{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 50px;

    padding: 30px;
    border: 2px solid black;
    margin: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

    width: 300px;

    &__info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__text{
            color: base.$text-color;
            padding-bottom: 20px;

            font-size: large;
        }
    }

    &__image{
        
        width: 150px;
    }
}
}

@media (max-width: 300px){
  .user-account{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 50px;

    padding: 30px;
    border: 2px solid black;
    margin: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

    width: 150px;

    &__info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__text{
            color: base.$text-color;
            padding-bottom: 20px;

            font-size: large;
        }
    }

    &__image{
        
        width: 150px;
    }
}
}

@media (min-width: 800px) and (max-width: 1400px) {
  .user-account{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 50px;

    padding: 30px;
    padding-bottom: 300px;
    border: 2px solid black;
    margin: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

    width: 700px;

    &__info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__text{
            color: base.$text-color;
            padding-bottom: 20px;

            font-size: large;
        }
    }

    &__image{
        
        width: 150px;
    }
}
}

