@use 'common/base';

input[type="file"] {
    margin-bottom: 20px;
}

.name-visitor {
    display: none;
}

.cnp-visitor {
    display: none;
}

.photo-visitor {
    display: none;
}

.email-visitor {
    display: none;
}

.phone-visitor {
    display: none;
}

.inmate-cnp {
    display: none;
}

.type-visitor {
    display: none;
}

#name:focus+.name-visitor {
    display: block;
    margin-bottom: 20px;
}

#email:focus+.email-visitor {
    display: block;
    margin-bottom: 20px;
}

#phone-number:focus+.phone-visitor {
    display: block;
    margin-bottom: 20px;
}

#cnp:focus+.cnp-visitor {
    display: block;
    margin-bottom: 20px;
}

#prisoner-cnp:focus+.inmate-cnp {
    display: block;
    margin-bottom: 20px;
}

#visitType:focus+.type-visitor {
    display: block;
    margin-bottom: 20px;
}