@use "common/base";

.user-account{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 100px;

    padding: 30px;
    border: 2px solid black;
    margin: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

    width: 700px;

    &__info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__text{
            color: base.$text-color;
            padding-bottom: 20px;

            font-size: large;
        }
    }

    &__image{
        width: 150px;
    }
}

@media (max-width: 768px){
    .user-account{
        width: 450px;
    }
}

@media (max-width: 500px){
    .user-account{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        width: 300px;

        &__text{
            font-size: medium;
        }
    }
}
@media (max-width: 350px){
    .user-account{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        width: 250px;

        &__text{
            font-size: small;
        }
    }
}

.user-panel{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 30px;

    margin-bottom: 85px;

    &__button{
        @include base.button;
    }
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

