@use "common/base";

.form-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center
}

@media (max-width: 1060px){
    .form-container{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 299px) {
    .form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
  }
}


input[type="file"] {
    margin-bottom: 20px;
}

.link{
    text-decoration: none;
    color: base.$text-color;
    font-size: medium;

    &:hover {
        color: base.$link-color;
        text-decoration: underline;
        cursor: pointer;
    }
}