@use 'base';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    @include base.html-body;
}

body::-webkit-scrollbar {
    @include base.scrollbar;
}


.navbar{
    @include base.navbar;
}

.nav-list{
    @include base.nav-list;

    &__element{
        @include base.nav-list-element;
    }

    &__link{
        &:hover{
            @include base.hover-link;
        }
        @include base.nav-list-link;
    }

    &__search{
        @include base.nav-list-search;
    }
}

@media (max-width: 500px){
    .nav-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.7rem;
        list-style: none;
        margin: 0;
        padding: 0;

        &__element{
            width: 100px;
            height: 100%;
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
        &__search{
            text-decoration: none;
            color: base.$text-color;
            height: 100%;
            width: 100%;
            display: flex;
            margin-bottom: 0.5rem;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}


.footer{
    height: 4rem;
    background-color: base.$footer-color;
    
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;

    border-style: none;
    border-bottom: 3px #364b56 solid ;
    
}


.footer-list{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    list-style: none;

    margin: 0;
    padding: 0;

    &__link{
        text-decoration: none;
        color: white;
        font-size: small;

        margin: 0;
        padding: 0;
        &:hover{
            @include base.hover-link;
        }
    }
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: base.$text-color;
    margin-top: 80px;
    margin-bottom: 50px;
    text-align: center;
}

.main-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}

.main-image-gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(227,232,233,1) 0%, rgba(0,0,0,0) 30%);
}

.main-image{
    width: 100%; 
    height: auto; 
    display: block; 
    object-fit: cover;
}

.button-list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;

    margin-bottom: 50px;

    &__element{
        width: 145px;
        height: 100%;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__image{
        padding: 12px;
        border: 4px solid black;
        border-radius: 30px;

        width: 120px;
        height: 120px;

        &:hover{
            background-color: #4fa1df3f;
        }
    }

    &__text{
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
    }

}

@media (max-width:500px){
    .button-list{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;

        margin: 0;
        padding: 0;
    
        &__element{
            width: 100px;
            height: 100%;
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
        &__image{
            height:100px;
            width:100px;
            border: 1px solid black;
        }
    }
}

