* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: auto;
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  background-color: #e3e8e9;
  border: 0px;
}

body::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.navbar {
  width: 100%;
  height: 100%;
  background-color: #fbfbfb;
  border-bottom: 2px solid #000000;
  padding-top: 2px;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-list__element {
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-list__link {
  text-decoration: none;
  color: #263741;
  font-weight: bold;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-list__link:hover {
  color: #4fa0df;
  text-decoration: underline;
  cursor: pointer;
}
.nav-list__search {
  text-decoration: none;
  color: #263741;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-list__logo {
  width: 55px;
  height: 55px;
}

@media (max-width: 500px) {
  .nav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .nav-list__element {
    width: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px;
    font-size: 24px;
  }
  .nav-list__search {
    text-decoration: none;
    color: #263741;
    height: 100%;
    width: 100%;
    display: flex;
    margin-bottom: 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav-list__logo {
    width: 70px;
    height: 70px;
  }
}
.footer {
  height: 100%;
  background-color: #364b56;
  border-style: none;
  border-bottom: 3px #364b56 solid;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 100%;
  list-style: none;
  text-decoration: none;
  padding-top: 10px;
  text-align: center;
}

.footer-title {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 10px;
}

.footer-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 12px;
}
.footer-list__element {
  padding-bottom: 4px;
}
.footer-list__link {
  text-decoration: none;
  font-size: small;
  color: white;
  margin: 0;
  padding: 0;
}
.footer-list__link:hover {
  color: #4fa0df;
  text-decoration: underline;
  cursor: pointer;
}
.footer-list__contact {
  color: white;
  font-size: small;
}

@media (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
  }
  .footer-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
  }
}
@media (min-width: 912px) and (max-width: 1368px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
  }
  .footer-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
  }
}
@media (min-width: 800px) and (max-width: 1400px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
  }
  .footer-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
  }
  .request-form {
    width: 500px;
    height: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    margin-bottom: 30px;
  }
  .request-form {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    margin-bottom: 30px;
  }
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  #name,
  #email,
  #phone-number,
  #cnp,
  #prisoner-cnp {
    width: 100%;
    padding: 35px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  #button {
    padding: 35px 45px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #263741;
  margin-top: 80px;
  margin-bottom: 50px;
  text-align: center;
}

@media (max-width: 650px) {
  .header {
    margin-top: 40px;
    margin-bottom: 25px;
  }
}
.request-form {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  margin-bottom: 30px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

#name,
#email,
#phone-number,
#cnp,
#prisoner-cnp {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#button:hover {
  background-color: #0056b3;
}

input[type=file] {
  margin-bottom: 20px;
}

.name-visitor {
  display: none;
}

.cnp-visitor {
  display: none;
}

.photo-visitor {
  display: none;
}

.email-visitor {
  display: none;
}

.phone-visitor {
  display: none;
}

.inmate-cnp {
  display: none;
}

#name:focus + .name-visitor {
  display: block;
  margin-bottom: 20px;
}

#email:focus + .email-visitor {
  display: block;
  margin-bottom: 20px;
}

#phone-number:focus + .phone-visitor {
  display: block;
  margin-bottom: 20px;
}

#cnp:focus + .cnp-visitor {
  display: block;
  margin-bottom: 20px;
}

#prisoner-cnp:focus + .inmate-cnp {
  display: block;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .request-form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    margin-bottom: 30px;
  }
  #name,
  #email,
  #phone-number,
  #cnp,
  #prisoner-cnp {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  #button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
}

/*# sourceMappingURL=request.css.map */
