@use 'base';

.footer {
    height: 100%;
    background-color: base.$footer-color;

    border-style: none;
    border-bottom: 3px #364b56 solid;

    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 100%;

    list-style: none;
    text-decoration: none;

    padding-top: 10px;
    text-align: center;

    &__title{
        color: white;
        font-size: 1.5rem;
        font-weight: bold;
        padding-bottom: 10px;
    }
    &__list{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        list-style: none;

        margin: 0;
        padding: 12px;
    }

    &__element {
        padding-bottom: 4px;
    }

    &__link {
        text-decoration: none;
        font-size: small;
        color: white;

        margin: 0;
        padding: 0;

        &:hover {
            color: base.$link-color;
            text-decoration: underline;
            cursor: pointer;
        }
    }
        &__contact {
            color: white;
            font-size: small;
        }
    }

@media (max-width: 768px) {
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
        text-decoration: none;

        &__list{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            list-style: none;
            text-decoration: none;
        }
    }
}

@media (min-width: 912px) and (max-width: 1368px) {
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
        text-decoration: none;

        &__list{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            list-style: none;
            text-decoration: none;
        }
    }
}

@media (min-width: 800px) and (max-width: 1400px) {
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
        text-decoration: none;

        &__list{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            list-style: none;
            text-decoration: none;
        }
    }
}