@use 'base';

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

    &__field{
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    &__radio{
        margin-right: 7px;
        margin-bottom: 20px;
    }

    &__button {
        @include base.button;
    }

}

@media (max-width: 768px) {
    .form {
        width: 230px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f0f0f0;
        border-radius: 8px;
        margin-bottom: 30px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    
    }
  }

  @media (min-width: 912px) and (max-width: 1368px) {
    .form {
        width: 500px;
        margin: 0 auto;
        padding: 20px;
        padding-bottom: 60px;
        background-color: #f0f0f0;
        border-radius: 8px;
        margin-bottom: 30px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    
    }
}

@media (min-width: 800px) and (max-width: 1400px) {
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
        text-decoration: none;

        &__list{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            list-style: none;
            text-decoration: none;
        }
    }
}

@media (max-width: 299px) {
    .form {
        width: 210px;
        margin: 0 auto;
        padding: 18px;
        background-color: #f0f0f0;
        border-radius: 8px;
        margin-bottom: 30px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

    }
}